.brand{
  writing-mode: vertical-lr;
  transform: rotate(-180deg);  
  display: flex;
  align-items: stretch;
  text-transform: uppercase;

  font-size: 40px;
  line-height: 86px;
  font-weight: 800;
  color: var(--white);

  span:not(:first-child){
    background-color: var(--accent);
  }
  span{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  span + span{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 2px;
      height: 20px;
      background: var(--white);
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
